.calculator {
  background: #cdcdcd;
  min-height: 100vh;
  min-width: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 560px;
    min-width: 480px;
    padding: .25rem;
    margin: 0 auto;
  }
  &__tabloid {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    min-height: 4.5rem;
    margin: 0 auto;
    flex: 0 0 100%;
    padding-right: 33.3333%;
  }
  &__expression {
    width: 100%;
    text-align: right;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    transition: all .5s ease;
    padding: 1rem 0;
    clear: both;
    &.large {
      font-size: 1rem;
      padding: 1.75rem 0;
    }
    &.resulted {
      padding: .1rem 0 0;
      font-size: .8rem;
    }
  }
  &__result {
    width: 100%;
    text-align: right;
    border: none;
    background: none;
    outline: none;
    transition: all .5s ease;
    font-size: 0;
    padding: 0;
    &.resulted {
      padding: .5rem 0;
      font-size: 2rem;
    }
  }
  &__pad {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 480px;
    min-width: 320px;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 66.6666%;
  }
  &__history {
    flex: 1 1 33.3333%;
    overflow: hidden;
    &-item {
      text-align: right;
      padding: .5rem 0 .5rem .5rem;
      > .expression {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        color: #4b4b4b;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > .data-time {
        display: block;
        font-size: .7rem;
        font-weight: 600;
        color: #656565;
      }
    }
  }
  &__button-wrapper {
    width: 25%;
    padding: .25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  &__button {
    display: block;
    width: 100%;
    padding: .75rem .5rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, .65);
    font-size: 1.3rem;
    font-weight: 300;
    cursor: pointer;
    transition: all .25s ease;
    &.number {
      font-weight: 700;
      background: rgba(255, 255, 255, .96);
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: rgba(150, 150, 150, .9);
    }
  }
}