<div class="calculator">
    <div class="calculator__wrapper">
        <div class="calculator__tabloid">
            <input #input
                   type="text"
                   class="calculator__expression"
                   align="right"
                   [ngModel]="expression"
                   [ngClass]="{'resulted': resulted, 'large': expression.length > 14}"
                   id="expressionInput"
                   placeholder="0">
            <input #resultInput
                   readonly
                   align="right"
                   class="calculator__result"
                   type="text"
                   id="resultInput"
                   [ngClass]="{'resulted': resulted}"
                   [ngModel]="result">
        </div>
        <div class="calculator__pad">
            <div class="calculator__button-wrapper">
                <button id="ceButton" (click)="clearAll()" class="calculator__button">CE</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="cButton" (click)="clear()" class="calculator__button">C</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="backspaceButton" (click)="delete()" class="calculator__button">◀</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="divideButton" (click)="add2Expresson('/')" class="calculator__button">/</button>
            </div>

            <div class="calculator__button-wrapper">
                <button id="number7Button" (click)="add2Expresson(7)" class="calculator__button number">7</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number8Button" (click)="add2Expresson(8)" class="calculator__button number">8</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number9Button" (click)="add2Expresson(9)" class="calculator__button number">9</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="multiplyButton" (click)="add2Expresson('*')" class="calculator__button">*</button>
            </div>

            <div class="calculator__button-wrapper">
                <button id="number4Button" (click)="add2Expresson(4)" class="calculator__button number">4</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number5Button" (click)="add2Expresson(5)" class="calculator__button number">5</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number6Button" (click)="add2Expresson(6)" class="calculator__button number">6</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="plusButton" (click)="add2Expresson('+')" class="calculator__button">+</button>
            </div>

            <div class="calculator__button-wrapper">
                <button id="number1Button" (click)="add2Expresson(1)" class="calculator__button number">1</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number2Button" (click)="add2Expresson(2)" class="calculator__button number">2</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number3Button" (click)="add2Expresson(3)" class="calculator__button number">3</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="minisButton" (click)="add2Expresson('-')" class="calculator__button">-</button>
            </div>

            <div class="calculator__button-wrapper">
                <button id="bracketLeftButton" (click)="add2Expresson('(')" class="calculator__button">(</button>
                <button id="bracketRightButton" (click)="add2Expresson(')')" class="calculator__button">)</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="number0Button" (click)="add2Expresson(0)" class="calculator__button number">0</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="dotButton" (click)="add2Expresson('.')" class="calculator__button number">.</button>
            </div>
            <div class="calculator__button-wrapper">
                <button id="resultButton" (click)="resultExpression()" class="calculator__button">=</button>
            </div>
        </div>
        <div class="calculator__history">
            <div class="calculator__history-item" *ngFor="let item of history.slice(0,5)">
                <span class="expression">{{item['calculation']}}</span>
                <span class="data-time">{{item['date']}}</span>
            </div>
        </div>
    </div>

</div>
